.g_boder{
  border: 1px dashed red;
}

body{
  background-color: #E8E8E8;
}


header{
  height:78px;
  border: 1px dashed black;
}

main{
  min-height:800px;
  border: 1px dashed black;
}

footer{
   height:395px;
  border: 1px dashed black;
}


  @media (min-width: 1200px){
    .container-xl, .container-lg, .container-md, .container-sm, .container {
        max-width: 1266px !important;
    }
  }

